/**/
.jumbotron{
    background-image:url('pictures/Hallstatt_darken_longer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: static;
}
/**/
.jumbotron .container{
    position: relative;
    color: #FFFFFF;
    top: 35%;
    left: 10%;
}
/**/
.jumbotron .container h1{
	padding-bottom: 5px;
    border-bottom: 1px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.6);
    font-size: 45px;
    display: inline;
    font-style: italic;
}

.sidebar{
    margin-left: 5%;
    width: 10%;
    min-width: 100px;
    position: absolute;
    display: block;
    z-index: 999;
    text-align: center;
}
.sidebar img{
    margin-bottom: 10px;
}
.sidebar .navbar-collapse { padding: 0px; max-height: none;}
.sidebar .navbar-nav { float: none; }
.sidebar .navbar-collapse ul{
    list-style-type: none;
    margin: 0 auto;
}
.sidebar .nav > li { display: block; float: none; height: 80px;} 

.sidebar .nav > li a {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #5a5a5a;
    font-size: 15px;
    font-weight: bold;
    display: block;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}
.sidebar .navbar-collapse  li a:hover:not(.active){
    background-color: #cccccc;
    color:white;
}

.sidebar .navbar-collapse  .active a{
    background-color: #4db8ff;
    color:white;
}

/**/
.intro {
    position: relative;
    
}
.intro .main_container{
    min-width: 400px;
}

/**/
.intro .main_container div > h1{
    margin-top: 60px;
    padding-bottom: 5px;
    border-bottom: 1px solid #4db8ff;
    line-height: 1em;
    font-size: 30px;
    display: block;
}
/**/
.intro .about-me .main_container h4{
    color: #666666;
    padding-top: 20px;
    display: block;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-weight: bold;
    font-size: 18px;
}
/*all h6 elements inside .about-me*/
.intro .about-me h6{
    color: #666666;
    display: block;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 14px;
}

/*all p elements inside #introduction and #project*/
#introduction p{
    color: #666666;
    display: block;
    padding-top: 20px;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 18px;
}

/**/
.intro .about-me .main_container h5{
    color: #666666;
    padding-top: 20px;
    display: block;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-weight: bold;
    font-size: 16px;
}
/*all p elements inside #education, #work, #projects*/
#education p{
    color: #666666;
    display: block;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 15px;
}
#work p{
    color: #666666;
    display: block;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 15px;
}
#projects p{
    color: #666666;
    display: block;
    padding-top: 30px;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 15px;
}
/*all li elements inside #education and #work*/
#education li{
    display: list-item;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 15px;
    color: #666666;
}
#work li{
    display: list-item;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 15px;
    color: #666666;
}
#projects .btn{
    outline: 0;
}
#projects a{
    color: #ffffff;
    outline: 0;
}

@media (max-width: 1200px) { 

    .sidebar { 
        margin: 0 auto;
        width: 100%; 
        position: absolute;
        display: block;
        background-color: #f2f2f2;
        z-index: 999;
    }
    .sidebar .navbar-collapse img{
        width: 180px;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .sidebar .navbar-header {
        float: none;
    }
    .sidebar .navbar-left,.navbar-right {
        float: none !important;
    }
    .sidebar .navbar-toggle {
        display: block;
    }
    .sidebar .navbar-collapse.collapse {
        display: none!important;
    }
    .sidebar .navbar-nav {
        float: none!important;
    }
    .sidebar .navbar-nav>li {
        float: none;
    }
    .sidebar .collapse.in{
        display:block !important;
    }
    .sidebar .nav > li {height: 40px;} 
    .sidebar .nav > li a {
        padding-top: 10px;
        color: #5a5a5a;
        font-size: 16px;
        font-weight: bold;
        height: 40px;
        display: block;
        border-radius: 5px;
        text-decoration: none;
        text-transform: capitalize;
    }
    /*
    .sidebar .nav li img { left: 0px; width: 180px; height: 180px; }
    .side .nav > li a {height: 60px; text-align: center; font-weight: 600; color: #FFFFFF; }
    .sidebar .navbar-collapse .nav li a:hover:not(.active){
        background-color: #cccccc;
        color:white;
    }

    .sidebar .navbar-collapse .nav .active a{
        background-color: #4db8ff;
        color:white;
    }
    */
}    