.block{
  height: 60px;
}
/* Carousel */
.slider {
  position: relative;
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.active-slide {
    display: block;
}

.slider-nav {
  position: relative;
  text-align: center;
  margin-top: 20px;
  height: 20px;
}
.slider-nav a{
    outline: 0;
}

.arrow-prev {
  margin-right: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.arrow-next {
  margin-left: 45px;
  display: inline-block;
  vertical-align: top;
  margin-top: 9px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

.description .container{
  margin-top: 50px;
  position:relative;
}
.description .container p{
    color: #666666;
    display: block;
    line-height: 1.5em;
    font-family: "Open-Sans",sans-serif;
    font-size: 16px;
}