
/**/
.jumbotron{
    background-image: url("pictures/Swiss_darken.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 2;
}
.jumbotron .container{
    position: relative;
    top: 35%;
    z-index: 4;
    text-align: center;
    color: #FFFFFF;
}
.jumbotron .container h1{
    padding-bottom: 15px;
    border-bottom: 2px solid #FFFFFF;
    border-bottom-color: rgba(255,255,255,0.6);
    display: inline-block;
    font-weight: bold;
}
.jumbotron .container p{
    font-size: 18px;
}
@media (max-width: 767px) { 
    
} 