/*navigation bar*/
.navigation{
    height:80px;
    width:100%;
    background-color:white;
    position: fixed;
    text-align: center;
    display: block;
    z-index: 999;
    font-family: "Jura", serif;
    border-bottom: 1px solid #ddd;
}
/**/
.navigation ul{
    list-style-type: none;
}
/**/
.navigation li{
    display: inline;
}
/**/
.navigation a {
    padding: 20px 14px;
    color: #5a5a5a;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 10px;
    outline: 0;
}
/**/
.navigation a:hover:not(.active){
    background-color: #cccccc;
    text-decoration: none;
    color:white;
}
/**/
.navigation .container .active{
    background-color: #4db8ff;
    text-decoration: none;
    color:white;
}